<div [class]="getClass()">
  <mat-card class="image-card">
    <mat-card-header>
      <mat-card-title class="title"
        ><img
          *ngIf="game.icon"
          [src]="game.icon.url"
          [alt]="game.abbreviation + '-icon'"
        />{{ game.name }}</mat-card-title
      >
      <mat-card-subtitle class="sub-title">{{
        game.abbreviation
      }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="description">
      {{ game.description }}
    </mat-card-content>
    <button mat-button [color]="isDarkMode() ? 'default' : 'primary'" (click)="viewGame()" i18n>
      {{ 'Common.View' | translate }}
    </button>
  </mat-card>
</div>
