<div *ngIf="!chooseEditor; else editor">
  <button mat-button (click)="useMarkdownEditor()">Use Markdown (Power users, only use when you know Markdown!)</button>
  <button mat-button (click)="useFancyEditor()">Use What You See Is What You Get Editor (Recommended)</button>
</div>
<ng-template #editor>
  <textarea *ngIf="useMarkdown; else htmlEditor" id="markdown-editor"> </textarea>
</ng-template>

<ng-template #htmlEditor>
  <editor
    class="text-editor"
    [init]="{
      base_url: '/tinymce',
      suffix: '.min',
      height: '80vh',
      content_css: './assets/editor.css'
    }"
    [plugins]="'table,preview,quickbars,media,link,wordcount'"
    [(ngModel)]="htmlContent"
  ></editor>
</ng-template>
