a {
  margin-right: 1em;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  font-family: 'Headshot';
  font-size: 20px;
}

span {
  margin-right: 1em;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  font-family: 'Headshot';
}

.mat-icon {
  display: inline-flex;
  vertical-align: middle;
}
