@import 'src/styles/variables.scss';

.character-stock-icon {
  display: inline;

  img {
    max-width: 2.5em;
    max-height: 2.5em;
    margin-right: 0.5em;
  }
}

.character-container {
  img {
    min-width: 3em;
    min-height: 3em;
  }
}
