<div class="container-fluid custom-container">
  <app-game-selector [selected]="6" (selectionChange)="changeGameSelection($event)"></app-game-selector>

  <mat-form-field class="right-search-bar">
    <mat-label i18n>Search</mat-label>
  <input (input)="onSearchChange($event.target.value)" matInput name="search" />
  <mat-icon matSuffix>search</mat-icon>

</mat-form-field>
  <div *ngIf="loading; else characterDisplay">
    <app-loading></app-loading>
  </div>
</div>

<ng-template #characterDisplay>
  <div class="row equal">
    <div *ngFor="let character of displayedCharacters" class="col-lg-4">
      <app-character-preview class="character-display" [character]="character">
      </app-character-preview>
    </div>
  </div>
</ng-template>
