<div class="container-fluid mt-2">
  <app-titlebar [title]="'Characters.Characters' | translate"></app-titlebar>
  <div class="row">
    <div class="col-lg-6 col-xs-12">
      <app-game-selector
      class="d-none"
        [addAllOptions]="true"
        [selected]="selectedGame"
        (selectionChange)="changeGameSelection($event)">
      </app-game-selector>
    </div>
    <div class="col-lg-6 col-xs-12">
        <mat-form-field class="right-search-bar">
            <mat-label i18n>{{ 'Common.Search' | translate }}</mat-label>
          <input (input)="onSearchChange($event.target.value)" matInput name="search" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
  </div>
  <div *ngIf="loading; else characterListSmall"></div>
  <div *ngIf="loading; else characterDisplay">
    <app-loading></app-loading>
  </div>
</div>

<app-top-scroller></app-top-scroller>

<ng-template #characterDisplay>
  <div class="row equal">
    <div *ngFor="let character of displayedCharacters" class="col-lg-4 col-xs-12 col-md-6 col-sm-6">
      <app-character-preview class="character-display" [character]="character">
      </app-character-preview>
    </div>
  </div>
</ng-template>

<ng-template #characterListSmall>
  <div *ngIf="selectedGame > 0" class="character-container">
    <mat-card class="mat-elevation-z10">
      <mat-card-header>
        <mat-card-title class="title">{{ 'Characters.QuickCharacterSelector' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="character-stock-icon" *ngFor="let character of displayedCharacters">
          <img class="mouse-pointer"
          *ngIf="character.stockIcon"
            [src]="character.stockIcon.url"
            (click)="viewCharacter(character.id)"
            [alt]="character.name">
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>
