<div class="container-fluid custom-container">
  <app-titlebar title="Characters" (selectionChange)="changeGameSelection($event)"></app-titlebar>
  <div class="row">
    <div class="col-lg-10"></div>
    <div class="col-lg-2 col-xs-12">
        <mat-form-field class="right-search-bar">
            <mat-label i18n>Search</mat-label>
          <input (input)="onSearchChange($event.target.value)" matInput name="search" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
  </div>
  <div *ngIf="loading; else characterListSmall"></div>
  <div *ngIf="loading; else characterDisplay">
    <app-loading></app-loading>
  </div>
</div>

<app-top-scroller></app-top-scroller>

<ng-template #characterDisplay>
  <div class="row equal">
    <div *ngFor="let character of displayedCharacters" class="col-lg-4 col-xs-12 col-md-6 col-sm-6">
      <app-character-preview class="character-display" [character]="character">
      </app-character-preview>
    </div>
  </div>
</ng-template>

<ng-template #characterListSmall>
  <div class="container-fluid character-container">
      <div class="character-stock-icon" *ngFor="let character of displayedCharacters">
          <img class="mouse-pointer"
            [src]="character.stockIcon.url"
            (click)="viewCharacter(character.id)">
        </div>
  </div>
</ng-template>
