@import "src/styles/variables.scss";

.custom-container {
    margin-top: 1em;
}

.right-search-bar {
    width: 100%;
}

.character-stock-icon {
    display: inline;

    img {
        max-width: 3.5em;
        max-height: 3.5em;
    }
}

.character-container {
    img {
        min-width: 3em;
        min-height: 3em;
    }
}
.character-display {
    padding: 1px;
}