@import "src/styles/variables.scss";

.profile-shot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: contain;
}

.stock-icon {
    // Override the border radius to just show the entire character.
    border-radius: 0%;
}