@import "src/styles/variables.scss";

$character-border-width: 0.1em;
$post-border-radius: 0.5em;

.main-container {
    padding: 3em;
    padding-top: 1em;
}

.header {
    padding: 1em;
    border-style: solid;
    border-width: $character-border-width;
    border-color: $light-primary-color;
    border-radius: $post-border-radius;
    text-align: center;
    background-color: $primary-color;
    color: $text-color;
}

.info-container {
    padding: 1em;
    border-style: solid;
    border-width: $character-border-width;
    border-color: $light-primary-color;
    border-radius: $post-border-radius;

    // Forced the container to always be full height, meaning that the same items
    // in the row have the same outline.
    height: 100%;

    .title {
        text-align: center;
        margin-bottom: 0.5em;
    }
    .text {
        // Makes it so the new lines are rendered from the given TS variable.
        white-space: pre-line;
    }
    .video {
        text-align: center;
    }
}
