<div class="container-fluid main-container">
  <div *ngIf="loading; else postDisplay">
    <app-loading></app-loading>
  </div>
</div>
<app-top-scroller></app-top-scroller>

<ng-template #postDisplay>
  <div [class]="getGameClass()">
    <div class="header  background-color-primary">
      <div class="row equal">
        <div class="col-lg-2">{{ character.game.name }}</div>
        <div class="col-lg-8 nametag">
          <h1>{{ character.name }}</h1>
        </div>
        <div class="col-lg-2">
          <img [src]="seriesIcon()" alt="character-icon" height="100em" />
        </div>
      </div>
    </div>
    <div class="body info-container">
      <div class="row">
        <div class="col-lg-3">
          <div class="info-container">
            <!--Center this image.-->
            <img
              *ngIf="character.characterImage"
              [src]="character.characterImage.url"
              alt="character-portrait"
              height="370em"
              class="profile-shot"
            />
            <hr/>
            <h5 class="title" i18n>Contributors</h5>
            <p *ngIf="character.contributors.length === 0" i18n>
              No contributors yet.
            </p>
            <mat-chip-list *ngIf="character.contributors.length > 0">
              <mat-chip
                color="accent" selected
                *ngFor="let contributor of character.contributors"
                (click)="viewUser(contributor.user.id)">
                {{ contributor.user.name }}
              </mat-chip>
            </mat-chip-list>
            <button *ngIf="isContributor()" mat-raised-button
            color="accent"
            class="mt-2 edit-button"
            (click)="editCharacter()" i18n>
            <em class="material-icons">edit</em> Edit character
            </button>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="info-container">
              <app-general-information [character]="character"></app-general-information>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-lg-12">
          <div class="info-container">
            <h2 class="title" i18n>Notable Players</h2>
            <h5 class="title" *ngIf="character.notablePlayers.length == 0" i18n>
              No players yet!
            </h5>
            <div *ngFor="let player of character.notablePlayers">
              <p class="text">
                <strong>{{ player.name }}</strong
                >: {{ player.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-lg-12">
          <div class="info-container">
            <h2 class="title" i18n>Top FightCore posts</h2>
            <div *ngIf="!postLoading" class="row equal">
              <div *ngFor="let post of posts" class="col-lg-4">
                <app-post-preview [post]="post"></app-post-preview>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div *ngIf="!youtubeLoading" class="row">
        <div class="col-lg-12">
          <div class="info-container">
            <h2 class="title" i18n>Videos</h2>
            <h5 class="title" *ngIf="youtubeUrls.length == 0" i18n>
              No videos yet!
            </h5>
            <div class="row">
              <div *ngFor="let video of youtubeUrls" class="col-lg-6">
                <div class="video">
                  <iframe
                    [src]="video"
                    width="625em"
                    height="350em"
                    class="fit-image-max-width"
                    title="youtube-video-embed"
                    webkitallowfullscreen
                    mozallowfullscreen
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-lg-12">
          <div class="info-container">
            <h2 class="title" i18n>Matchups</h2>
            <h5 class="title" *ngIf="this.matchups.length == 0" i18n>
              No matchups yet!
            </h5>
                <app-matchup-chart *ngIf="matchups" [matchups]="matchups"></app-matchup-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
