@import "src/styles/variables.scss";

.main-container {
    padding-top: 1em;
}

.profile-shot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: contain;
}

.edit-button {
    width: 100%;
}