.spacer {
    flex: 1 1 auto;
}
.height-spacer {
    flex-grow: 1;
}

span {
    margin-right: 1em;
    cursor: pointer;
}

.language-picker {
    font-size: 15px;
}

.logo {
    height: 2em;
    margin-right: 0.5em;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(138deg) brightness(102%) contrast(101%);
}

.example-spacer {
    flex: 1 1 auto;
  }