.spacer {
    flex: 1 1 auto;
}
.height-spacer {
    flex-grow: 1;
}

span {
    margin-right: 1em;
    cursor: pointer;
}

.logo {
    height: 3em;
    margin-right: 0.5em;
}

.example-spacer {
    flex: 1 1 auto;
  }