<mat-sidenav-container>
  <!-- Sidenav is only viewable on mobile. -->
  <mat-sidenav style="height: 100vh; width: 50%" [(opened)]="opened">
    <div class="p-2">
      <img class="mouse-pointer" width="100%" src="assets/Fightcore_Wordmark.png" alt="FightCore logo" />
    </div>
    <div class="p-1">
      <div *ngFor="let link of links">
        <button
          color="primary"
          mat-flat-button
          class="text-center w-100 mb-1"
          [routerLink]="link.route"
          (click)="hideSidebar()"
          i18n
        >
          {{ link.name | translate }}
        </button>
      </div>
      <div *ngIf="currentUser; else mobileLogin">
        <button color="accent" mat-flat-button class="text-center w-100 mb-1" (click)="hideSidebar(); toUser()" i18n>
          <mat-icon>account_circle</mat-icon>
          {{ currentUser.name }}
        </button>

        <button color="accent" mat-flat-button class="text-center w-100 mb-1" (click)="hideSidebar(); logout()" i18n>
          {{ 'Authentication.Logout' | translate }}
        </button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Content only visible when the website is viewed on a bigger screen. -->
    <div class="d-none d-lg-block">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <div [routerLink]="['']">
            <img class="logo mouse-pointer" src="assets/Fightcore_Wordmark_white.svg" alt="FightCore logo" />
          </div>
          <a *ngFor="let link of links" [routerLink]="link.route" i18n> {{ link.name | translate }}</a>
          <span class="spacer"></span>
          <button (click)="toggleDarkMode()" mat-button><mat-icon>nights_stay</mat-icon></button>
          <app-language class="d-none language-picker p-3"></app-language>
          <app-user-options-button
            *ngIf="currentUser; else login"
            [currentUser]="currentUser"
          ></app-user-options-button>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
    <!-- Toolbar for the non-desktop displays -->
    <mat-toolbar class="d-lg-none" color="primary">
      <button class="d-inline" mat-icon-button (click)="opened = true">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="d-inline" [routerLink]="['']">
        <img class="logo mouse-pointer" src="assets/Fightcore_Wordmark_white.svg" alt="FightCore logo" />
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #login>
  <a [routerLink]="['/register']">{{ 'Authentication.Register' | translate }}</a>
  <a (click)="onOpenLoginClick()">{{ 'Authentication.Login' | translate }}</a>
</ng-template>

<ng-template #mobileLogin>
  <button
    color="accent"
    class="text-center w-100 mb-1"
    mat-raised-button
    (click)="hideSidebar()"
    [routerLink]="['/register']"
  >
    {{ 'Authentication.Register' | translate }}
  </button>
  <button class="text-center w-100" color="accent" mat-raised-button (click)="hideSidebar()" [routerLink]="['/login']">
    {{ 'Authentication.Login' | translate }}
  </button>
</ng-template>
