.spacer {
    flex: 1 1 auto;
}
.height-spacer {
    flex-grow: 1;
}

span, a {
    margin-right: 1em;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.language-picker {
    font-size: 15px;
}

.logo {
    height: 2em;
    margin-right: 0.5em;
}

.example-spacer {
    flex: 1 1 auto;
}

.logo-mobile {
    height: 1.5em;
}