<mat-sidenav-container>
  <!-- Sidenav is only viewable on mobile. -->
  <mat-sidenav style="height: 100%; width: 50%" [(opened)]="opened">
    <img class="logo" src="assets/FC.png" alt="FightCore logo" />
    <span i18n>FightCore</span>
    <div class="p-1">
      <div *ngFor="let link of links">
        <button
          color="primary"
          mat-flat-button
          class="text-center w-100 mb-1"
          [routerLink]="link.route"
          (click)="hideSidebar()"
          i18n
        >
          {{ link.name | translate }}
        </button>
      </div>
      <div *ngIf="isAuthenticated(); else mobileLogin">
        <button
        color="accent"
        mat-flat-button
        class="text-center w-100 mb-1"(click)="hideSidebar(); toUser()" i18n>
        <em class="material-icons">account_circle</em>
        {{ getUserName() }}
        </button>

      <button
      color="accent"
      mat-flat-button
      class="text-center w-100 mb-1"(click)="hideSidebar(); logout()" i18n>
      {{ 'Authentication.Logout' | translate }}</button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Content only visible when the website is viewed on a bigger screen. -->
    <div class="d-none d-lg-block">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <div [routerLink]="['']">
            <img class="logo mouse-pointer" src="assets/Fightcore_Logo.svg" alt="FightCore logo" />
          </div>
          <span *ngFor="let link of links" [routerLink]="link.route" i18n>
            {{ link.name | translate }}</span
          >
          <span class="spacer"></span>
          <div class="d-none d-md-block">
            <app-language class="language-picker p-3"></app-language>
            <span *ngIf="isAuthenticated(); else login" (click)="toUser()">
              <em class="material-icons">account_circle</em>
              {{ getUserName() }}</span
            >
            <span *ngIf="isAuthenticated()" (click)="logout()" i18n>
              {{ 'Authentication.Logout' | translate }}</span
            >
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
    <!-- Toolbar for the non-desktop displays -->
    <mat-toolbar class="d-md-block d-lg-none" color="primary">
      <div class="row pt-2">
        <div class="col-6">
          <div [routerLink]="['']">
            <img class="logo mouse-pointer" src="assets/Fightcore_Logo.svg" alt="FightCore logo" />
            <span>FightCore</span>
          </div>
        </div>
        <div class="col-6">
          <button
          class="float-right"
          color="accent"
          mat-raised-button
          (click)="opened = true"
        >
          <em class="material-icons">
            menu
          </em>
        </button>
        </div>
      </div>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #login>
  <span (click)="register()">{{ 'Authentication.Register' | translate }}</span>
  <span (click)="goToLogin()">{{ 'Authentication.Login' | translate }}</span>
</ng-template>

<ng-template #mobileLogin>
  <button
    color="accent"
    class="text-center w-100 mb-1"
    mat-raised-button
    (click)="hideSidebar(); register()"
  >
  {{ 'Authentication.Register' | translate }}
  </button>
  <button
    class="text-center w-100 mb-1"
    color="accent"
    mat-raised-button
    (click)="hideSidebar()"
    [routerLink]="['/login']"
  >
  {{ 'Authentication.Login' | translate }}
  </button>
</ng-template>
