<mat-toolbar color="primary">
    <mat-toolbar-row>
      <img class="logo" src="assets/FC.png" alt="FightCore logo"/>
      <span>FightCore</span>
      <span [routerLink]="['/post']" i18n>Posts</span>
      <span class="spacer"></span>
      <div>
        <span *ngIf="isAuthenticated() else login">{{getUserName()}}</span>
        <span *ngIf="isAuthenticated()" (click)="logout()" i18n> Logout</span>
      </div>
    </mat-toolbar-row>
</mat-toolbar>

<ng-template #login>
  <span [routerLink]="['/user/register']" i18n>Register</span>
  <span [routerLink]="['/login']" i18n>Login</span>
</ng-template>