@import "src/styles/variables.scss";

$post-border-radius: 1em;
$post-border-radius: 0.5em;

.character {
    // Sets the border to be a solid rounded line.
    border-style: solid;
    border-width: 0.25em;
    border-color: $light-primary-color;
    border-radius: $post-border-radius;
    height: 98%;

    // This includes the title, subtitle and the avatar of the author.
    .header {
      // We expand the width and height so that it goes over the containing border
      width: 102%;

      // Offsets so the width and height are overlapped properly.
      margin-left: -1%;
      margin-top: -1%;

      // Give it a little padding to make the text distance itself.
      padding: 1em;
      border-radius: $post-border-radius;

      // Align the text in the center middle.
      vertical-align: middle;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      max-height: 5rem;

      color: $text-color;

      .title {
        text-align: center;
        padding: 0 0.5em;
        font-size: 1.5em;
      }

      .avatar {
        // Rather well stolen than made badly: https://stackoverflow.com/a/26681130.

        /* make a square container */
        width: 4em;
        /* fill the container, preserving aspect ratio, and cropping to fit */
        background-size: cover;
        /* center the image vertically and horizontally */
        background-position: center;
        /* round the edges to a circle with border radius 1/2 container size */
      }
    }

    .body {
      margin: 1em;
      .description {
        color: $secondary-text-color;
        max-height: 10.5em;
        min-height: 10.5em;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .fill-remaining-space {
        height: 5em;
      }

      .post-bottom-bar {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        color: $primary-text-color;

        .game-chips{
          display: flex;
          justify-content: flex-end;

          .game-chip {
            border-radius: 16px;
            padding: 0.4em 0.7em;
          }
        }
      }
    }
}

.description {
  max-height: 10.5em;
  min-height: 10.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}