<div class="container-fluid toolbar-container">
  <app-titlebar [title]="'Posts'" (selectionChange)="onGameChange($event)"></app-titlebar>
  <div class="row">
    <div class="col-lg-10">
      <div class="create-button">
        <button (click)="createPost()" mat-raised-button color="accent" i18n>
          <i class="material-icons">
            add
            </i> Create new post
        </button>
      </div>
    </div>
    <div class="col-lg-2 col-xs-12">
      <app-character-picker #characterPicker [gameId]="gameId"></app-character-picker>
    </div>
    <div class="col-lg-2 col-xs-12">
      <mat-form-field class="right-search-bar">
          <mat-label i18n>Search</mat-label>
        <input (input)="onSearchChange($event.target.value)" matInput name="search" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div *ngIf="loading; else postDisplay">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <ng-template #postDisplay>
    <div class="row equal">
      <div class="col-lg-4" *ngFor="let post of displayPosts">
        <app-post-preview class="post-preview" [post]="post"></app-post-preview>
      </div>
    </div>
  </ng-template>
</div>
