.toolbar-container {
  padding-left: 2em;
  padding-right: 2em;
  .create-button {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .right-search-bar {
    min-width: 100%;
    width: 100%;
  }
}
.game-picker {
  width: 50%;
}