.toolbar-container {
  margin-top: 1em;
  .create-button {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .right-search-bar {
    min-width: 100%;
    width: 100%;
  }
}
.game-picker {
  width: 50%;
}

.post-preview {
  padding: 0.25px;
}