<div class="container-fluid mt-2 toolbar-container">
  <div *ngIf="!loading" class="row">
    <div class="col-lg-6 col-12">
      <app-titlebar
        [title]="'Posts.Posts' | translate"
      ></app-titlebar>
    </div>
    <div class="col-lg-6 col-12">
      <button
        class="float-right"
        (click)="createPost()"
        mat-raised-button
        color="primary"
        i18n
      >
        <em class="material-icons">
          add
        </em>
        {{ 'Posts.CreateNewPost' | translate }}
      </button>
    </div>
  </div>
  <div *ngIf="!loading" class="row">
    <div class="col-lg-4 col-xs-12">
      <app-game-selector
        [addAllOptions]="true"
        (selectionChange)="onGameChange($event)"
      ></app-game-selector>
    </div>
    <div class="col-lg-4 col-xs-12">
      <div class="float-right w-100">
        <app-character-picker
          class="w-100"
          #characterPicker
          (selectionChange)="onCharacterChange($event)"
          [gameId]="gameId"
        ></app-character-picker>
      </div>
    </div>
    <div class="col-lg-4 col-xs-12">
      <div class="w-100 float-right">
        <mat-form-field class="w-100">
          <mat-label>{{ 'Common.Search' | translate }}</mat-label>
          <input
            (input)="onSearchChange($event.target.value)"
            matInput
            name="search"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div *ngIf="loading; else postDisplay">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <ng-template #postDisplay>
    <div class="row equal">
      <div class="col-lg-4" *ngFor="let post of displayPosts">
        <app-post-preview class="post-preview" [post]="post"></app-post-preview>
      </div>
    </div>
  </ng-template>

  <app-top-scroller></app-top-scroller>
</div>
