<div class="container-fluid toolbar-container">
  <app-titlebar [title]="'Posts'" (selectionChange)="onGameChange($event)"></app-titlebar>
  <div class="row">
    <div class="col-lg-6">
      <div class="create-button">
        <button (click)="createPost()" mat-raised-button color="primary" i18n>
          <em class="material-icons">
            add
            </em> Create new post
        </button>
      </div>
    </div>
    <div class="col-lg-6 col-xs-12">
      <div class="float-right">
        <app-character-picker class="d-inline" #characterPicker (selectionChange)="onCharacterChange($event)"
        [gameId]="gameId"></app-character-picker>
        <mat-form-field class="d-inline-block ml-2">
            <mat-label i18n>Search</mat-label>
          <input (input)="onSearchChange($event.target.value)" matInput name="search" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div *ngIf="loading; else postDisplay">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <ng-template #postDisplay>
    <div class="row equal">
      <div class="col-lg-4" *ngFor="let post of displayPosts">
        <app-post-preview class="post-preview" [post]="post"></app-post-preview>
      </div>
    </div>
  </ng-template>
</div>

<app-top-scroller></app-top-scroller>