<div *ngIf="loading else selector" class="game-dropdown">
  <div *ngIf="!failed else loadFail">
    <app-loading></app-loading>
  </div>
</div>

<ng-template #selector>
    <mat-form-field class="game-dropdown">
        <mat-label>{{ 'Games.Game' | translate }}</mat-label>
        <mat-select [(value)]="selected" (selectionChange)="onSelectChange($event)">
          <mat-option *ngIf="addAllOptions" [value]="0">
            {{ 'Games.All' | translate }}
          </mat-option>
          <mat-option *ngFor="let game of games" [value]="game.id">
              <img *ngIf="game.icon" class="d-inline" [src]="game.icon.url" alt="game-icon">
              {{ game.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
</ng-template>

<ng-template #loadFail>
  <p i18n>{{ 'Games.LoadingFailed' | translate }}</p>
</ng-template>
