<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <img class="fit-image-height" alt="character profile shot" [src]="characterIcon()" >
    </div>
    <mat-card-title class="title">{{ character.name }}</mat-card-title>
    <mat-card-subtitle>{{character.game.name}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="description">
      {{ character.generalInformation }}
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="viewCharacter(character.id)" mat-button [color]="isDarkMode() ? 'default' : 'primary'">
      {{ 'Common.View' | translate }}
    </button>
  </mat-card-actions>
</mat-card>
