<div class="card">
  <div class="row equal">
    <div class="col-lg-2 col-sm-12">
      <img alt="FightCore logo" class="logo" src="../../../assets/FC.png" />
    </div>

    <div class="col-lg-10 col-sm-12 centered-content">
      <h1 class="title" i18n>FightCore</h1>
      <p class="sub-title p-2" i18n>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis
        aliquet arcu at vestibulum. Quisque efficitur odio dui, quis vulputate
        felis malesuada id. Praesent iaculis nibh quis magna laoreet, non
        faucibus arcu ullamcorper. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Maecenas eros magna, aliquam
        quis felis at, interdum vulputate leo. Quisque interdum tempor eros, id
        facilisis arcu fermentum sed. Duis suscipit, ipsum ut scelerisque
        elementum, nibh ligula iaculis elit, eu suscipit est ante nec est.
      </p>
    </div>
  </div>
</div>
