<table
  *ngIf="edits && edits.length > 0 else noEdits"
  mat-table
  [dataSource]="edits"
  class="w-100"
>
<caption>{{ 'Edits.SuggestedEdits' | translate }}</caption>

  <ng-container matColumnDef="userName">
    <th mat-header-cell *matHeaderCellDef id="edit-user-header">
      {{ 'Common.User' | translate }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef id="edit-type-header">
      {{ 'Common.Type' | translate }}
    </th>
    <td mat-cell *matCellDef="let element">{{ getEditType(element.editType) }}</td>
  </ng-container>

  <ng-container matColumnDef="original">
    <th mat-header-cell *matHeaderCellDef id="edit-original-header">
      {{ 'Edits.Original' | translate }}
    </th>
    <td class="big-text" mat-cell *matCellDef="let element">
      <div [ngSwitch]="element.editable">
        <div *ngSwitchCase="0">
          <td-ngx-text-diff
          *ngIf="element.original && element.target"
            [left]="element.original"
            [right]="element.target"
          ></td-ngx-text-diff>
        </div>
        <div *ngSwitchCase="1">
          <app-website-edit [target]="element.target"></app-website-edit>
        </div>
        <div *ngSwitchCase="2">
          <app-video-edit [target]="element.target"></app-video-edit>
        </div>
        <div *ngSwitchCase="3">
          <app-notable-player-edit [target]="element.target"></app-notable-player-edit>
        </div>
      </div>
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="approve">
    <th mat-header-cell *matHeaderCellDef id="edit-approve-header"></th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="isContributor">
        <button mat-stroked-button (click)="approvePost(element)" color="accent">
          {{ 'Edits.Approve' | translate }}
        </button>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef id="edit-approve-header"></th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="isEdit(element)">
        <button mat-stroked-button (click)="update(element)" color="accent">
          {{ 'Edits.Edit' | translate }}
        </button>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="deny">
    <th mat-header-cell *matHeaderCellDef id="edit-deny-header"></th>
    <td mat-cell *matCellDef="let element">
        <button mat-stroked-button (click)="reject(element)" color="primary">
          {{ 'Edits.Reject' | translate }}
        </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    class="big-text"
    *matRowDef="let row; columns: displayedColumns"
  ></tr>
</table>
<ng-template #noEdits>
  {{ 'Edits.NoEditsAvailable' | translate }}
</ng-template>