<h1 mat-dialog-title>{{ 'Characters.EditNotablePlayer' | translate }}</h1>
<div mat-dialog-content>
  <div *ngIf="notablePlayer">
    <mat-form-field class="w-100">
      <mat-label>{{ 'Common.Name' | translate }}</mat-label>
      <input matInput [(ngModel)]="notablePlayer.name" />
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>{{ 'Common.Description' | translate }}</mat-label>
      <input matInput [(ngModel)]="notablePlayer.description" />
    </mat-form-field>
    <mat-form-field class="w-100">
        <mat-label>{{ 'Characters.Country' | translate }}</mat-label>
        <input matInput [(ngModel)]="notablePlayer.country" />
      </mat-form-field>
  </div>
</div>
