::ng-deep .ql-video {
  width: 70vh;
  height: 40vh;
}

::ng-deep .ql-snow .ql-tooltip {
  transform: translateX(7vw) translateY(10px);
}

::ng-deep #tinymce > p > strong > span,
h1,
h2,
h3,
h4,
h5,
h6,
strong > span {
  font-family: headshot;
}

::ng-deep p {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
