@use '@angular/material' as mat;
@import "@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mat-primary: (
  main: #96153a,
  lighter: #e0b9c4,
  darker: #790c25,
  200: #96153a, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);

$fightcore-app-primary: mat.define-palette($mat-primary, main, lighter, darker);

$mat-accent: (
  main: #110011,
  lighter: #b8b3b8,
  darker: #0a000a,
  200: #110011, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);

$fightcore-app-accent: mat.define-palette($mat-accent, main, lighter, darker);

// The warn palette is optional (defaults to red).
$fightcore-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$fightcore-app-theme: mat.define-light-theme(
  $fightcore-app-primary,
  $fightcore-app-accent,
  $fightcore-app-warn
);

$fightcore-dark-theme: mat.define-dark-theme(
  $fightcore-app-primary,
  $fightcore-app-accent,
  $fightcore-app-warn
);

@mixin background-theme($theme) {
  // Extract the palettes you need from the theme definition.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .background-color-primary {
    background-color: mat.get-color-from-palette($primary);
  }

  .background-color-accent {
    background-color: mat.get-color-from-palette($accent);
  }
  .avatar-accent {
    .avatar-content {
        background-color: mat.get-color-from-palette($accent) !important;
    }
  }
  .color-primary {
    color: mat.get-color-from-palette($primary);
  }

  .color-accent {
    color: mat.get-color-from-palette($accent);
  }
}

.dark-theme {
  @include mat.all-component-themes($fightcore-dark-theme);
  @include background-theme($fightcore-dark-theme);
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($fightcore-app-theme);
@include background-theme($fightcore-app-theme);
