$primary-color: #673AB7;
$dark-primary-color: #512DA8;
$light-primary-color: #D1C4E9;
$text-color: #FFFFFF;
$primary-text-color: #212121;
$accent-color: #FF5722;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;