<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step>
    <form>
      <ng-template matStepLabel>Select initial topics</ng-template>
      <app-edit-intial-post></app-edit-intial-post>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Optional meta data</ng-template>
      <app-edit-meta-data></app-edit-meta-data>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
      <form>
        <ng-template matStepLabel>Write the post</ng-template>
        <app-edit-post-text></app-edit-post-text>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Finish</button>
        </div>
      </form>
    </mat-step>
</mat-horizontal-stepper>