.create-post-header {
    width: 15em;
    max-width: 15em;
    margin-right: 1em;
}

.create-button {
    float: right;
    button {
        margin-left: 1em;
    }
}
.character-picker {
    margin: 1em;
    width: 20%;
    display: inline-block;
}
