.create-post-header {
    width: 15em;
    max-width: 15em;
    margin-right: 1em;
}

.create-button {
    float: right;
    button {
        margin-left: 1em;
    }
}

.character-picker {
    margin: 1em;
    width: 20%;
    display: inline-block;
}

.game-picker {
    width: 10em;
    max-width: 10em;
    margin-right: 5em;
    display: inline-block;
}

.post-text {
    display: inline;
}