<div class="container">
  <h2>Register</h2>
  <div class="row">
    <div class="col-lg-6 col-12">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-card>
          <mat-card-content>
            <h3>Create an account</h3>
            <mat-form-field class="w-100">
              <mat-label>Enter your username</mat-label>
              <input formControlName="username" matInput required />
              <mat-error *ngIf="registerForm.get('username').hasError('required')"> Username is required </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>Enter your email</mat-label>
              <input formControlName="email" matInput required />
              <mat-error *ngIf="registerForm.get('email').hasError('required')"> Email is required </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>Enter your Password</mat-label>
              <input type="password" formControlName="password" matInput required />
              <mat-error *ngIf="registerForm.get('password').hasError('required')"> Password is required </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>Confirm your password</mat-label>
              <input type="password" formControlName="confirmPassword" matInput required />
              <mat-error *ngIf="registerForm.get('confirmPassword').hasError('required')">
                Confirming the password is required
              </mat-error>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <button type="submit" color="primary" mat-raised-button>Submit</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
    <div class="col-lg-6 col-12">
      <mat-card>
        <mat-card-content>
          <h3>Benefits of having an account</h3>
          <p></p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
