<div class="container-fluid">
  <h2 class="title">{{ 'Account.CreateYourAccount' | translate }}</h2>
  <form class="user-form">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'Account.Email' | translate }}</mat-label>
      <input
        matInput
        [formControl]="email"
        required
      />
      <mat-error *ngIf="email.invalid">{{ getErrorMessage(email) }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'Account.Username' | translate }}</mat-label>
      <input
        matInput
        [formControl]="username"
        required
      />
      <mat-error *ngIf="username.invalid">{{
        getErrorMessage(username)
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label i18n>{{ 'Account.Password' | translate }}</mat-label>
      <input
        matInput
        [formControl]="password"
        type="password"
        required
      />
      <mat-error *ngIf="password.invalid">{{
        getErrorMessage(password)
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'Account.ConfirmPassword' | translate }}</mat-label>
      <input
        matInput
        [formControl]="confirmPassword"
        type="password"
        required
      />
      <mat-error *ngIf="confirmPassword.invalid">{{
        getErrorMessage(confirmPassword)
      }}</mat-error>


    </mat-form-field>
    <!-- Password validations -->
    <mat-hint align="end" aria-live="polite">
        {{ password.value.length }} / 25
      </mat-hint>
      <mat-password-strength #passwordComponent [password]="password.value">
      </mat-password-strength>
      <mat-checkbox [(ngModel)]="showPasswordInfo" name="showPasswordInfo"
        > {{'Account.ShowDetails' | translate }}
      </mat-checkbox>
      <mat-password-strength-info
        *ngIf="showPasswordInfo"
        [passwordComponent]="passwordComponent"
      >
      </mat-password-strength-info>
      <!-- End Password Validation -->

    <button
      mat-raised-button
      color="primary"
      (click)="register()"
      class="register-button"
      i18n
    >
      {{ 'Account.Register' | translate }}
    </button>
  </form>
</div>
