.user-form {
    mat-form-field {
        width: 100%;
    }
    padding: 1em;
}

.register-button {
    width: 50%;
}

.title {
    text-align: center;
}

.modal {
    display: block !important;
}
.modal-dialog {
      overflow-y: initial !important
}
.modal-body {
  height: 250px;
  overflow-y: auto;
}