@import "src/styles/variables.scss";

.post-content {
  color: $secondary-text-color;
  margin: 1em;
  .post-markdown-text {
    max-height: 15em;
    min-height: 15em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1em;
  }
}
.spacer {
  flex-grow: 1;
}