<h4>Title and Description</h4>
<form [formGroup]="formGroup">
    <mat-form-field class="w-100">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput placeholder="The title of your post" required>
    </mat-form-field>
    <mat-form-field class="w-100">
        <mat-label>Description</mat-label>
        <input formControlName="description" matInput placeholder="A short description about your post" required>
    </mat-form-field>
    <mat-divider class="mb-2"></mat-divider>
    <h4>Game and optional character</h4>
    <app-game-selector (selectionChange)="selectedGame = $event" [formGroupName]="'character'"></app-game-selector>
    <app-character-picker *ngIf="selectedGame" (selectionChange)="selectedCharacter = $event" [gameId]="selectedGame"></app-character-picker>
</form>
