<div class="container-fluid">
  <app-loading *ngIf="loading; else editTemplate"></app-loading>
</div>

<ng-template #editTemplate>
  <button
    mat-raised-button
    color="primary"
    class="mt-1 mb-1"
    (click)="toCharacters()"
    i18n
  >
    <em class="material-icons">arrow_back</em> Back
  </button>
  <mat-card class="mb-2">
    <mat-card-header>About character editing</mat-card-header>
    <mat-card-content>
      Editing a character will be saved as a suggestion towards the moderators of this character.
      These suggestions will later be approved and you will be added to the list of contributors.
      All edits made are saved with the respective editor, nobody will take credit for your edit.
      If there are no contributors for your character, contact Bort on Discord or Twitter.
    </mat-card-content>
  </mat-card>
  <mat-card class="h-100">
    <mat-card-header>
      <mat-card-title>
        <h2 class="d-inline">
          <img
            *ngIf="character.stockIcon"
            [src]="character.stockIcon.url"
            alt="stock icon"
          />
          {{ character.name }}
        </h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="h-100">
      <mat-tab-group class="h-100">
        <mat-tab class="h-100" label="General Information">
          <mat-form-field class="general-information">
            <textarea
              matInput
              placeholder="General Information about the character."
              [(ngModel)]="character.generalInformation"
              type="textarea"
              class="general-information"
              name="generalInformation"
            ></textarea>
          </mat-form-field>
        </mat-tab>
        <mat-tab class="h-100" label="Notable Players">
          <div class="row">
            <div class="col-12">
              <button
                class="create-button"
                mat-raised-button
                (click)="createPlayer()"
                color="primary"
                i18n
              >
                <em class="material-icons">add</em> New Player
              </button>
            </div>
            <div class="col-12">
              <p *ngIf="character.notablePlayers.length === 0" i18n>
                No players yet.
              </p>
              <div
                *ngFor="let player of character.notablePlayers"
                class="player"
              >
                <mat-form-field class="name">
                  <input
                    matInput
                    placeholder="Player's name"
                    [(ngModel)]="player.name"
                    type="input"
                    [name]="'playerName' + player.id"
                    [readonly]="!player.new"
                    [disabled]="!player.new"
                  />
                </mat-form-field>
                <mat-form-field class="country">
                  <input
                    maxlength="2"
                    matInput
                    placeholder="Player's country"
                    [(ngModel)]="player.country"
                    type="input"
                    [name]="'playerDescription' + player.id"
                    [readonly]="!player.new"
                    [disabled]="!player.new"
                  />
                </mat-form-field>
                <span
  *ngIf="player.country"
  [class]="'flag flag-icon flag-icon-' + player.country"
></span>
                <mat-form-field class="description">
                  <input
                    matInput
                    placeholder="Player's description"
                    [(ngModel)]="player.description"
                    type="input"
                    [name]="'playerDescription' + player.id"
                    [readonly]="!player.new"
                    [disabled]="!player.new"
                  />
                </mat-form-field>
                <button
                  class="delete-button"
                  mat-button
                  color="accent"
                  (click)="deletePlayer(player)"
                  i18n
                >
                  <em class="material-icons">delete</em> Delete
                </button>
                <hr/>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab class="h-100" label="Videos">
          <div class="row">
            <div class="col-12">
              <button
                class="create-button"
                mat-raised-button
                (click)="createVideo()"
                color="primary"
                i18n
              >
                <em class="material-icons">add</em> New Video
              </button>
            </div>
            <div class="col-12">
              <p *ngIf="character.videos.length === 0" i18n>
                No videos yet.
              </p>
              <div *ngFor="let video of character.videos" class="player">
                <mat-form-field class="name">
                  <input
                    matInput
                    placeholder="Video's name"
                    [(ngModel)]="video.name"
                    type="input"
                    [name]="'videoName' + video.id"
                    required
                    [readonly]="!video.new"
                    [disabled]="!video.new"
                  />
                </mat-form-field>
                <mat-form-field class="description">
                  <input
                    matInput
                    placeholder="Video's YouTubeId"
                    [(ngModel)]="video.youtubeId"
                    type="input"
                    [name]="'youtubeId' + video.id"
                    required
                    [readonly]="!video.new"
                    [disabled]="!video.new"
                  />
                </mat-form-field>
                <button
                  class="delete-button"
                  mat-button
                  color="accent"
                  (click)="deleteVideo(video)"
                  i18n
                >
                  <em class="material-icons">delete</em> Delete
                </button>
                <hr />
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab class="h-100" label="Websites">
          <div class="row">
            <div class="col-12">
              <button
                class="create-button"
                mat-raised-button
                (click)="createWebsite()"
                color="primary"
                i18n
              >
                <em class="material-icons">add</em> New Website
              </button>
            </div>
            <div class="col-12">
              <p *ngIf="character.websites.length === 0" i18n>
                No websites yet.
              </p>
              <div *ngFor="let websites of character.websites" class="player">
                <mat-form-field class="name">
                  <input
                    matInput
                    placeholder="Website's title"
                    [(ngModel)]="websites.title"
                    type="input"
                    [name]="'websiteName' + websites.id"
                    required
                    [readonly]="!websites.new"
                    [disabled]="!websites.new"
                  />
                </mat-form-field>
                <mat-form-field class="description">
                  <input
                    matInput
                    placeholder="Websites's URL"
                    [(ngModel)]="websites.websiteUrl"
                    type="input"
                    [name]="'websitesUrl' + websites.id"
                    required
                    [readonly]="!websites.new"
                    [disabled]="!websites.new"
                  />
                </mat-form-field>
                <button
                  class="delete-button"
                  mat-button
                  color="accent"
                  (click)="deleteWebsite(websites)"
                  i18n
                >
                  <em class="material-icons">delete</em> Delete
                </button>
                <hr />
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="saveForm()" i18n>
        <em class="material-icons">save</em> Save
      </button>
      <button mat-raised-button color="primary" (click)="toCharacters()" i18n>
        <em class="material-icons">arrow_back</em> Back
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>
