<div class="container-fluid">
  <app-loading *ngIf="loading; else editTemplate"></app-loading>
</div>

<ng-template #editTemplate>
  <button
    mat-raised-button
    color="primary"
    class="mt-1 mb-1"
    (click)="toCharacters()"
    i18n
  >
    <em class="material-icons">arrow_back</em> {{ 'Common.Back' | translate }}
  </button>
  <mat-card class="mb-2">
    <mat-card-header>{{
      'Edits.AboutCharacterEditing' | translate
    }}</mat-card-header>
    <mat-card-content>
      {{ 'Edits.CharacterEditingInfo' | translate }}
    </mat-card-content>
  </mat-card>
  <mat-card class="h-100">
    <mat-card-header>
      <mat-card-title>
        <h2 class="d-inline">
          <img
            *ngIf="character.stockIcon"
            [src]="character.stockIcon.url"
            alt="stock icon"
          />
          {{ character.name }}
        </h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="h-100">
      <mat-tab-group class="h-100">
        <mat-tab
          class="h-100"
          [label]="'Characters.GeneralInformation' | translate"
        >
          <mat-form-field class="general-information">
            <textarea
              matInput
              [placeholder]="
                'Characters.GeneralInformationAboutTheCharacter' | translate
              "
              [(ngModel)]="character.generalInformation"
              type="textarea"
              class="general-information"
              name="generalInformation"
            ></textarea>
          </mat-form-field>
        </mat-tab>
        <mat-tab
          class="h-100"
          [label]="'Characters.NotablePlayers' | translate"
        >
        <app-edit-notable-player [notablePlayers]="character.notablePlayers"></app-edit-notable-player>
        </mat-tab>
        <mat-tab class="h-100" [label]="'Characters.Videos' | translate">
          <app-edit-video-resource [videos]="character.videos"></app-edit-video-resource>
        </mat-tab>
        <mat-tab class="h-100" [label]="'Characters.Websites' | translate">
          <app-edit-website-resource [websites]="character.websites"></app-edit-website-resource>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="saveForm()" i18n>
        <em class="material-icons">save</em> {{ 'Common.Save' | translate }}
      </button>
      <button mat-raised-button color="primary" (click)="toCharacters()" i18n>
        <em class="material-icons">arrow_back</em>
        {{ 'Common.Back' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>
