<div class="container-fluid">
    <mat-card class="mat-elevation-z10 mb-2">
        <app-title-bar></app-title-bar>
    </mat-card>
    <div class="row equal">
        <div class="col-lg-9">
            <mat-card class="mat-elevation-z5">
            <app-featured-posts></app-featured-posts>
        </mat-card>
        </div>
        <div class="col-lg-3">
            <mat-card class="mat-elevation-z5 h-100">
                <app-socials></app-socials>
            </mat-card>
        </div>
    </div>
    <mat-card class="mat-elevation-z5 mt-2 mb-1">
        <app-latest-posts></app-latest-posts>
    </mat-card>
</div>
<app-top-scroller></app-top-scroller>