.title-bar {
    padding-top: 1em;
    margin-bottom: 1em
}

.featured-posts {
    padding: 1em;
}
.card {
    padding: 1em;
    margin-bottom: 1em;
    height: 95%;
    .discord-banner {
        height: 100%;
    }
}

.title {
    text-align: center;
}