<div class="container-fluid">
    <div class="title-bar">
        <app-title-bar></app-title-bar>
    </div>
    <div class="row equal">
        <div class="col-lg-9">
            <div class="card featured-posts">
                <app-featured-posts></app-featured-posts>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <app-discord class="discord-banner"></app-discord>
            </div>
        </div>
    </div>

    <div class="card featured-posts">
        <app-latest-posts></app-latest-posts>
    </div>
</div>
<app-top-scroller></app-top-scroller>