<div class="container-fluid">
  <button
    mat-raised-button
    color="primary"
    class="back-button"
    [routerLink]="['/game']"
    i18n
  >
    <em class="material-icons">arrow_back</em> {{ 'Games.BackToGames' | translate }}
  </button>
  <div [class]="getGameClass()">
    <app-loading *ngIf="loading; else gameDisplay"></app-loading>
  </div>
</div>

<ng-template #gameDisplay>
  <div class="row">
    <div class="col-lg-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="title"
            ><img *ngIf="game.icon" [src]="game.icon.url" alt="game icon" />
            {{ game.name }}</mat-card-title
          >
        </mat-card-header>
        <img
          mat-card-image
          *ngIf="game.bannerUrl"
          [src]="game.bannerUrl"
          alt="Game banner"
        />
        <mat-card-content>
          {{ game.description }}
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="title">{{ 'Posts.Posts' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="p-2">
          <app-loading *ngIf="postLoading; else postList"></app-loading>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <mat-card>
    <mat-card-header>
      <mat-card-title class="title">{{ 'Characters.Characters' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-loading *ngIf="characterLoading; else characterList"></app-loading>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #characterList>
  <div class="row">
    <div *ngFor="let character of characters" class="col-lg-4 p-1">
      <app-character-preview [character]="character"></app-character-preview>
    </div>
  </div>
</ng-template>

<ng-template #postList>
  <div class="row">
    <div *ngFor="let post of posts" class="col-lg-6 p-1">
      <app-post-preview [post]="post"></app-post-preview>
    </div>
  </div>
</ng-template>
