<div class="container">
  <h2>{{ 'FrameData.FrameData' | translate }}</h2>
  <app-loading *ngIf="loading"></app-loading>
  <mat-card *ngIf="!loading" class="mb-3">
    <h3 class="title">{{ 'Characters.QuickCharacterSelector' | translate }}</h3>
    <div class="character-stock-icon" *ngFor="let character of characters">
      <img
        class="mouse-pointer"
        width="40px"
        height="40px"
        *ngIf="character.stockIcon"
        [src]="character.stockIcon.url"
        (click)="viewCharacter(character.id)"
        [alt]="character.name"
      />
    </div>
  </mat-card>
  <h2>{{ 'FrameData.PopularMoves' | translate }}</h2>
  <div *ngIf="!loading" class="row">
    <div *ngFor="let popularMove of popularMoves" class="col-lg-2">
      <app-move-display [move]="popularMove" [characterName]="popularMove.character.normalizedName"></app-move-display>
    </div>
  </div>
</div>
