<h5 class="title">{{ 'Edits.Contributors' | translate }}</h5>
<mat-chip-list>
  <mat-chip
    color="primary"
    selected
    *ngFor="let contributor of contributorsEdit"
    (click)="viewUser(contributor.user.id)"
  >
    {{ contributor.user.name }}
  </mat-chip>
</mat-chip-list>
<p *ngIf="contributorsEdit.length === 0">
  {{ 'Edits.NoContributorsYet' | translate }}
</p>
<h5 class="title">{{ 'Edits.Moderators' | translate }}</h5>
<mat-chip-list>
  <mat-chip
    color="primary"
    selected
    *ngFor="let contributor of contributorsModerator"
    (click)="viewUser(contributor.user.id)"
  >
    {{ contributor.user.name }}
  </mat-chip>
</mat-chip-list>
<p *ngIf="contributorsModerator.length === 0">
  {{ 'Edits.NoModeratorsYet' | translate }}
</p>
