<app-loading *ngIf="loading else dropdown"></app-loading>
<ng-template #dropdown>
    <mat-form-field style="width: 100%" class="game-dropdown">
        <mat-label i18n>Character</mat-label>
        <input matInput aria-label="Character" [matAutocomplete]="auto" [formControl]="characterFormControl">
        <mat-icon matSuffix>search</mat-icon>
        <mat-autocomplete #auto (optionSelected)="onSelectChange($event)" [displayWith]="displayCharacter">
          <mat-option *ngIf="addAllOptions" [value]="0" i18n>
            All
          </mat-option>
          <mat-option *ngFor="let character of displayedCharacters | async" [value]="character">
              <img alt="character stock image"
                *ngIf="character.stockIcon" aria-hidden [src]="character.stockIcon.url" height="25">
              <span> {{ character.name }}</span>
              <span *ngIf="gameId === 0"> || {{ character.game.abbreviation }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
</ng-template>