<h2 class="title">Follow us</h2>
<button class="w-100 mb-1" mat-raised-button color="primary" (click)="openUrl('https://discord.fightcore.gg')">
  <fa-icon size="1x" [icon]="['fab', 'discord']"></fa-icon> Discord
</button>
<button class="w-100 mb-1" (click)="openUrl('https://github.com/fightcore')" mat-raised-button color="primary">
  <fa-icon size="1x" [icon]="['fab', 'github']"></fa-icon> Github
</button>
<button class="w-100 mb-1" (click)="openUrl('https://twitter.com/FightCoregg')" mat-raised-button color="primary">
    <fa-icon size="1x" [icon]="['fab', 'twitter']"></fa-icon> Twitter
  </button>
