<div class="container centered-content">
  <h1 class="title" i18n>
    <img
      alt="FightCore"
      class="wordmark"
      src="../../../assets/Fightcore_Wordmark.svg"
    />
  </h1>
  <p class="sub-title p-2" i18n>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis
    aliquet arcu at vestibulum. Quisque efficitur odio dui, quis vulputate felis
    malesuada id. Praesent iaculis nibh quis magna laoreet, non faucibus arcu
    ullamcorper. Orci varius natoque penatibus et magnis dis parturient montes,
    nascetur ridiculus mus. Maecenas eros magna, aliquam quis felis at, interdum
    vulputate leo. Quisque interdum tempor eros, id facilisis arcu fermentum
    sed. Duis suscipit, ipsum ut scelerisque elementum, nibh ligula iaculis
    elit, eu suscipit est ante nec est.
  </p>
</div>
