@import "src/styles/variables.scss";

$post-border-radius: 1em;
$post-border-radius: 0.5em;

.post {
  // Sets the border to be a solid rounded line.
  border-style: solid;
  border-width: 0.25em;
  border-color: $light-primary-color;
  border-radius: $post-border-radius;
  height: 98%;

  // This includes the title, subtitle and the avatar of the author.
  .post-header {
    // We expand the width and height so that it goes over the containing border
    width: 102%;

    // Offsets so the width and height are overlapped properly.
    margin-left: -1%;
    margin-top: -1%;

    // Give it a little padding to make the text distance itself.
    padding: 0.4em;
    background-color: $primary-color;
    border-radius: $post-border-radius;
    // Align the text in the center middle.
    vertical-align: middle;
    .post-title {
      color: $text-color;
    }
    .post-subtitle {
      color: $divider-color;
    }
    .post-avatar-container {
      align-self: center;
      .post-avatar {
        // Rather well stolen than made badly: https://stackoverflow.com/a/26681130.
        /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
        background-image: url("https://www.pngkit.com/png/detail/220-2201655_fox-shine-png-smash-bros-fox-shine-png.png");
        background-color: white;
        /* make a square container */
        width: 4em;
        height: 4em;
        /* fill the container, preserving aspect ratio, and cropping to fit */
        background-size: cover;
        /* center the image vertically and horizontally */
        background-position: top center;
        /* round the edges to a circle with border radius 1/2 container size */
        border-radius: 50%;
      }
    }

    .post-banner {
      width: 102%;
      height: 101%;
      margin-left: -1%;
      margin-top: -1%;
      border-top-left-radius: 0.5em;
      border-top-right-radius: 0.5em;
    }
  }

  .post-content {
    color: $secondary-text-color;
    margin: 1em;
    .post-markdown-text {
      max-height: 10em;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .fill-remaining-space {
      height: 2.5em;
    }
    .post-bottom-bar {
      width: 95%;
      position: absolute;
      bottom: 1.5em;
      left: 2em;
      color: $primary-text-color;
      .like-button {
        color: $primary-text-color;
        position: relative;
        top: 0.5em;
        left: 0.5em;
        margin-right: 0.5em;
      }
      .liked-button {
        color: $accent-color;
        position: relative;
        top: 0.5em;
        left: 0.5em;
        margin-right: 0.5em;
      }

      .game-chip {
        position: relative;
        top: 0.5em;
        mat-chip {
          max-width: 50em;
          width: 100%;
          text-align: center;
          display: inline;
          padding-top: 0.4em;
        }
      }
    }
  }
}