<div class="post">
  <div class="post-header row">
    <div class="d-none d-sm-block  col-lg-2">
        <div class="post-avatar"></div>
    </div>
    <div class="col-lg-10 col-xs-12">
        <h4 class="post-title">{{ post.title }}</h4>
        <h6 class="post-subtitle">By {{ post.author }}</h6>
    </div>
  </div>
  <div class="post-content">
    {{ post.body }}
    <div class="post-bottom-bar row">
      <div class="col-7">
        <button mat-raised-button color="warn">View</button>
      </div>

      <div class="like-button col-2">
        <fa-icon class="like-button" size="2x" icon="heart"></fa-icon> {{post.votes}}
      </div>
      <div class="col-lg-3 col-xs-12">
          <mat-chip-list class="game-tag">
              <mat-chip color="primary" selected>Ultimate</mat-chip>
          </mat-chip-list>
      </div>

    </div>
  </div>
</div>
