<div class="post">
  <div class="post-header row">
    <div *ngIf="post.bannerUrl">
      <img class="post-banner" alt="Post Banner" [src]="post.bannerUrl" />
    </div>
    <div class="d-none d-sm-block post-avatar-container col-lg-2">
      <div class="post-avatar"></div>
    </div>
    <div class="col-lg-10 col-xs-12">
      <h4 class="post-title">{{ post.title }}</h4>
      <h6 class="post-subtitle">By {{ post.author }}</h6>
    </div>
  </div>
  <div class="post-content">
    <div [innerHTML]="post.body" class="post-markdown-text">
    </div>
    <div class="fill-remaining-space"></div>
    <div class="fill-remaining-space .d-block .d-sm-none"></div>
    <div class="post-bottom-bar row">
      <div class="col-9">
        <button (click)="viewPost(post.id)" mat-raised-button color="accent">
          View
        </button>
        <app-like-button [postId]="post.id" [likes]="post.likes"
        [liked]="post.liked">
      </app-like-button>
      </div>
      <div class="col-lg-3 col-xs-12">
        <mat-chip-list class="game-chip">
          <mat-chip color="primary" selected>{{post.game}}</mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
</div>
