<h2 class="title">{{ 'Edits.TopContributors' | translate }}</h2>
<mat-table
  *ngIf="dataSource"
  [dataSource]="dataSource"
>
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef>{{ 'Common.Rank' | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let contributor; let i = index">
      {{ i + 1 }}.
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>{{ 'Common.Name' | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let contributor">
      {{ contributor.user.name }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="edits">
    <mat-header-cell *matHeaderCellDef>{{ 'Edits.Edits' | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let contributor"> {{ contributor.edits }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
