<h2 class="title">Top contributors</h2>
<mat-table *ngIf="dataSource" [dataSource]="dataSource" class="mat-elevation-z2">
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let contributor; let i = index"> {{i + 1}}. </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let contributor"> {{contributor.user.name}} </mat-cell>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="edits">
      <mat-header-cell *matHeaderCellDef> Edits </mat-header-cell>
      <mat-cell *matCellDef="let contributor"> {{contributor.edits}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>