@import 'src/styles/variables.scss';
@import 'src/styles/editor-style.scss';

.back-button {
  margin-top: 1em;
}

.mat-label-icon {
  vertical-align: middle;
}

.header-container {
  background-color: #96153a;
  color: white;
}
