<div class="container mt-3">
  <div *ngIf="loading; else display"></div>
  <button mat-raised-button class="back-button" [routerLink]="['/post']" color="primary" i18n>
    <em class="material-icons">arrow_back</em>
    {{ 'Posts.BackToPosts' | translate }}
  </button>
</div>
<app-top-scroller></app-top-scroller>

<ng-template #display>
  <mat-card class="header-container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <h1 class="post-title">{{ post.title }}</h1>
        <div class="mouse-pointer" (click)="viewAuthor()">
          {{ 'Posts.WrittenBy' | translate }} {{ post.author.name }}
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="float-end">
          <span>
            <mat-icon class="mat-label-icon">label</mat-icon>
            {{ getTranslationsForValue() | translate }}
          </span>
          <app-like-button [postId]="post.id" [likes]="post.likes" [liked]="post.liked"> </app-like-button>
          <button *ngIf="isPostFromUser()" (click)="editPost()" mat-stroked-button>
            <mat-icon>edit</mat-icon>
            {{ 'Common.Edit' | translate }}
          </button>
        </div>
        <!-- Game is not needed as of right now due to melee only
                  <div class="float-end">
                  <mat-icon class="mat-label-icon">sports_esports</mat-icon>
                  {{ post.game.name }}
                </div> -->
      </div>
    </div>
    <h5 class="subtitle" *ngIf="post.isPrivate" i18n>
      <em class="material-icons">lock</em>
      {{ 'Posts.ThisIsAPrivatePost' | translate }}
    </h5>
  </mat-card>
  <mat-card>
    <div *ngIf="isMarkdown; else showHtml" [innerHTML]="markdownContent"></div>
  </mat-card>

  <mat-divider></mat-divider>
  <div class="mt-2 p-2">
    <app-create-comment
      *ngIf="isLoggedIn()"
      (createdComment)="post.comments.push($event)"
      [postId]="post.id"
    ></app-create-comment>
  </div>

  <app-view-comments [postId]="post.id" [comments]="post.comments"></app-view-comments>
</ng-template>

<ng-template #showHtml>
  <editor
    class="text-editor"
    [init]="{
      base_url: '/tinymce',
      suffix: '.min',
      height: '100%',
      content_css: '/assets/editor.css'
    }"
    [disabled]="true"
    [inline]="true"
    [(ngModel)]="htmlContent"
  ></editor>
</ng-template>
