@import 'src/styles/variables.scss';
@import 'src/styles/editor-style.scss';

$post-border-radius: 1em;
$post-border-radius: 0.5em;

.post-title {
  font-family: headshot;
}

.back-button {
  margin-top: 1em;
}

.mat-label-icon {
  vertical-align: middle;
}

.header-container {
  background-color: #96153a;
  color: white;
}

.description {
  color: $secondary-text-color;
  max-height: 10.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view-button {
  width: 100%;
}
