/* You can add global styles to this file, and also import other style files */
@import 'src/styles/fightcore-theme.scss';
body {
  height: 100%;
}

@font-face {
  font-family: headshot;
  src: url(/assets/fonts/headshot.ttf);
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: headshot;
}

.fit-image-width {
  width: 100%;
  object-fit: contain;
}

.fit-image-max-width {
  max-width: 100%;
  object-fit: contain;
}

.fit-image-height {
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.mouse-pointer {
  cursor: pointer;
}

.ql-editor {
  min-height: 40em;
}
