<div *ngIf="loading else selector" i18n>
    <mat-spinner [diameter]="20" class="loading-spinner"></mat-spinner>
    Loading games..
</div>

<ng-template #selector>
    <mat-form-field class="game-dropdown">
        <mat-label i18n>Game</mat-label>
        <select matNativeControl required>
          <!-- To be replaced with the games gathered from the API. -->
          <option value="n64">Super Smash Bros. 64</option>
          <option value="melee">Super Smash Bros. Melee</option>
          <option value="smash4">Super Smash Bros. For Wii U</option>
          <option value="ultimate">Super Smash Bros. Ultimate</option>
        </select>
      </mat-form-field>
</ng-template>

