<div *ngIf="loading else selector">
  <div *ngIf="!failed else loadFail" i18n>
      <mat-spinner [diameter]="20" class="loading-spinner"></mat-spinner>
      Loading games..
  </div>
</div>

<ng-template #selector>
    <mat-form-field class="game-dropdown">
        <mat-label i18n>Game</mat-label>
        <mat-select (selectionChange)="onSelectChange($event)">
          <mat-option *ngIf="addAllOptions" [value]="0" i18n>
            All
          </mat-option>
          <mat-option *ngFor="let game of games" [value]="game.id">
              {{ game.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
</ng-template>

<ng-template #loadFail>
  <p i18n>Loading games has failed. Try refreshing.</p>
</ng-template>
