<h4>Category</h4>
<p>A general category which your post falls under.</p>
<mat-form-field class="w-100">
    <mat-label>Category</mat-label>
    <mat-select [formControl]="categoryFormControl" required>
      <mat-option *ngFor="let category of categories" [value]="category.value">
        {{category.name | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h4>Tags</h4>
  <p>Small tags that your post can be searched for.</p>
  <mat-form-field class="w-100">
    <mat-chip-list #chipList aria-label="Tags">
      <mat-chip *ngFor="let tag of tags" selectable
               [removable]="true" (removed)="remove(tag)">
        {{tag}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input placeholder="New tag..."
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="true"
             (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>